<ons-page id="account">
  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">アカウント</div>
  </ons-toolbar>
  <div class="background" style="background-color: #ED6A4C;"><img src="images/サインイン_背景.png" width="100%"></div>
  <div id="signIn">
    <p>SIGN IN</p>
    <input type="email" id="email" v-model="email" placeholder="メールアドレス">
    <input type="password" id="password" v-model="password" placeholder="パスワード"><br>
    <a @click="onLoginAccount"><img src="images/アカウント矢印.png"></a><br>
    <button @click="onNewAccount">アカウント作成</button>
  </div>
  <script>
    ons.getScriptPage().onInit = function() {
      var vm_a = new Vue({
        el: '#signIn',
        data: {
          email: "",
          password: ""
        },
        methods: {
          onLoginAccount: function() {
            firebase.auth().signInWithEmailAndPassword(this.email, this.password)
              .then(function () {
                ons.notification.toast('ログイン成功', { timeout: 1000, animation: 'fall'});
                document.querySelector('#myNavigator').popPage();
              }).catch(function(error) {
                alert(error.message);
              });
          },
          onNewAccount: function() {
            document.querySelector('#myNavigator').pushPage("register.html");
          }
        }
      });
    }
  </script>
</ons-page>