<ons-page id="analyze">
  <div class="background"></div>
  <div class="content">
    <img class="cartoon" src="./images/分析中_キャラ.png">
    <div id="analyzeVue" v-cloak>
      <div class="speech">
        <img src="images/分析_お題画面_キャラ.png">
        <p>まずは、キミの<b><u>取り組みたいこと<br>
          や叶えたいこと</u></b>を書くテン。<br>
          今回は<b>「英会話を学びたい」</b>として<br>
          進めるテン！</p>
      </div>
      <input type="text" v-model="theme" placeholder="英会話を学びたい">
      <select v-model="category">
        <option disabled value="">カテゴリ</option>
      </select>
      <button @click="nextButtonClick">これを分析！</button>
      <my-toolbar></my-toolbar>
    </div>
  </div>
  
  <script>
    ons.getScriptPage().onInit = function () {
      var qAndA = new QAndA();
      var vm_a = new Vue({
        el: '#analyzeVue',
        data: {
          theme: "",
          category: "",
        },
        methods: {
          nextButtonClick: function() {
            if (this.theme != "英会話を学びたい") {
              ons.notification.toast('テーマに「英会話を学びたい」と入力してください', {timeout: 2000, animation: "fall"});
              return;
            }
            document.querySelector('#myNavigator').pushPage('start.html');
          },
        }
      });
    }
  </script>
</ons-page>