<ons-page>
  <div class="background" style="background-color: #E8F6FD;"></div>
  <div id="questionVue" v-cloak>
    <div class="theme">
      <p>{{ theme }}</p>
    </div>
    <div v-for="item in items" class="items">
      <p :class='item.tag == "" ? defoClass : (item.tag == "out" ? lightClass : blueClass)'>{{ item.num }}</p>
      <p>{{ item.why }}</p>
      <p>{{ item.answer }}</p>
    </div>
    <div class="writting">
      <a @click="onNumber" :class="numberClass">{{ qa.num }}</a>
      <p>{{ qa.why }}<input v-show="qa.num >= 2" type="text" v-model="qa.question">？</p>
      <textarea v-model="qa.answer"></textarea>
    </div>
    <div class="buttons">
      <a @click="interruptionButtonClick"><img src="./images/各種ボタン/break_ボタン.png" alt="中断ボタン" width="30px"></a>
      <a @click="helpButtonClick"><img src="./images/各種ボタン/help_ボタン.png" alt="ヘルプボタン" width="30px"></a>
      <a v-show="qa.num >= 5" @click="finishButtonClick"><img src="./images/各種ボタン/finish_ボタン.png" alt="finishボタン" width="70px"></a>
      <a @click="nextButtonClick"><img src="./images/各種ボタン/next_ボタン.png" alt="Nextボタン"  width="70px"></a>  
    </div>
    <div class="overlay" v-show="showSavingModal" @click="closeModal">
      <p>分析を中断しますか？</p>
      <button @click="savingButton">はい</button>
      <button @click="closeModal">いいえ</button>
    </div>
    <div class="overlay-help" v-show="showHelpModal" @click="closeModal">
      <iframe src="help.html"></iframe>
      <a @click="closeModal">×</a>
    </div>
    <div class="overlay1" v-show="showModal1" @click="closeModal">
      <img class="cartoon" src="images/分析中_キャラ.png">
      <div class="speech">
        <img src="images/分析_吹き出し_アドバイス・記録前.png">
        <p>そろそろ自分自身のことを<br>考えてみてもいい頃合いだテンよ！<br>
          <span>なぜ____?をもっと自分に向けて<br>みたら</span>、きっとうまくいくテン。<br>
          具体的には、<span>「なぜこの環境下で自分が最初のテーマを選んだのか？」</span>とかテンね！</p>
      </div>
    </div>
    <div class="overlay1" v-show="showModal2" @click="closeModal">
      <img class="cartoon" src="images/分析中_キャラ2.png">
      <div class="speech">
        <img src="images/分析_吹き出し_その調子.png">
        <p>お主、なかなかやるテン・・・！<br>その調子で頑張るテン！</p>
      </div>
    </div>
    <div class="overlay1" v-show="showModal3" @click="closeModal">
      <img class="cartoon" src="images/分析中_キャラ3.png">
      <div class="speech">
        <img src="images/分析_吹き出し_その調子.png">
        <p>お疲れ様テン！<br>キミの頑張りを記録に残しておくテン。</p>
      </div>
    </div>
    <my-toolbar></my-toolbar>
  </div>
  
  <script>
    var myNavigator = document.querySelector('#myNavigator')
    ons.getScriptPage().onInit = function() {
      var qAndA = myNavigator.topPage.data.qAndA;
      var items = [];
      var why = "なぜ取り組みたい/叶えたい";
      for(i=1; i<qAndA.answers.length; i++) {
        items.push({
          num: i,
          why: qAndA.questions[i],
          answer: qAndA.answers[i],
          tag: qAndA.tags[i-1]
        });
        why = "なぜ";
      }
      var vm_q = new Vue({
        el: '#questionVue',
        data: {
          theme: qAndA.answers[0],
          items: items,
          qa: {
            num: qAndA.answers.length,
            why: why,
            question: "",
            answer: "",
            tag: "",
          },
          showSavingModal: false,
          showHelpModal: false,
          showModal1: false,
          showModal2: false,
          showModal3: false,
          numberClass: {
            defo: true,
            lightBlue: false,
            blue: false,
          },
          defoClass: "defo",
          lightClass: "lightBlue",
          blueClass: "blue",
          outCount: 0,
        },
        methods: {
          interruptionButtonClick: function() {
            this.showSavingModal = true;
          },
          helpButtonClick: function() {
            this.showHelpModal = true;
          },
          nextButtonClick: function() {
            if(this.qa.answer == "") {
              ons.notification.toast( '回答欄が入力されていません', {timeout: 1000, animation: 'fall'});
              return;
            } else if(this.qa.question == "" && this.qa.num != 1) {
              ons.notification.toast( 'なぜの後が入力されていません', {timeout: 1000, animation: 'fall'});
              return ;
            } else if(this.qa.tag == "") {
              ons.notification.toast( '内と外が決まっていません', {timeout: 1000, animation: 'fall'});
              return;
            }
            if (this.qa.tag == "out") {
              this.outCount++;
            }
            if (this.outCount == 3) {
              this.showModal1 = true;
            }
            if (this.qa.num == 6) {
              this.showModal2 = true;
            }
            this.qa.why = this.qa.why + this.qa.question + "？";
            this.items.push(Object.assign({}, this.qa));
            qAndA.questions.push(this.qa.why);
            qAndA.answers.push(this.qa.answer);
            qAndA.tags.push(this.qa.tag);
            updateData(qAndA);
            this.qa.num++;
            this.qa.why = "なぜ";
            this.qa.question = "";
            this.qa.answer = "";
            console.log(qAndA);
          },
          finishButtonClick: function() {
            if(this.qa.answer != "") {
              this.showModal3 = true;
              this.qa.why = this.qa.why + this.qa.question + "？";
              this.items.push(Object.assign({}, this.qa));
              qAndA.questions.push(this.qa.why);
              qAndA.answers.push(this.qa.answer);
              qAndA.tags.push(this.qa.tag);
              updateData(qAndA);
            }
            console.log(qAndA)
            myNavigator.pushPage('result.html',{
              data: {
                qAndA: qAndA
              }
            })
          },
          closeModal: function() {
            this.showSavingModal = false;
            this.showHelpModal = false;
            this.showModal1 = false;
            this.showModal2 = false;
            this.showModal3 = false;
          },
          savingButton: function() {
            if(this.qa.answer != "") {
              this.qa.why = this.qa.why + this.qa.question + "？";
              this.items.push(Object.assign({}, this.qa));
              qAndA.questions.push(this.qa.why);
              qAndA.answers.push(this.qa.answer);
              qAndA.tags.push(this.qa.tag);
            }
            qAndA.complete = false;
            updateData(qAndA);
            myNavigator.resetToPage('index.html');
          },
          onNumber: function() {
            if(this.numberClass.defo) {
              this.numberClass.defo = false;
              this.numberClass.lightBlue = true;
              this.qa.tag = "out";
            } else if(this.numberClass.lightBlue) {
              this.numberClass.lightBlue = false;
              this.numberClass.blue = true;
              this.qa.tag = "in";
            } else {
              this.numberClass.blue = false;
              this.numberClass.defo = true;
              this.qa.tag = "";
            }
          }
        }
      });
    }
  </script>
</ons-page>