<ons-page>
  <div id="register">
    <p>REGISTER</p>
    <div>
      <input type="email" id="email_register" v-model="email" placeholder="メールアドレス">
      <input type="password" id="password_register" v-model="password" placeholder="パスワード">
      <input type="button" value="登録" @click="onRegister">
    </div>
    <button><ons-icon icon="fa-twitter"></ons-icon> Twitterアカウントで始める</button>
  </div>
  <script>
    ons.getScriptPage().onInit = function () {
      var vm_r = new Vue({
        el: '#register',
        data: {
          email: "",
          password: ""
        },
        methods: {
          onRegister: function() {
            firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
              .then(function() {
                document.querySelector('#myNavigator').resetToPage("index.html");
                ons.notification.toast('アカウント登録成功', { timeout: 1000, animation: 'fall'});
              })
              .catch(function(error) {
                ons.notification.toast(error.message, { timeout: 1000, animation: 'fall'});
              });
          }
        }
      });
    }
  </script>
</ons-page>