#q {
  margin-top: 30%;
  font-size: 13px;
  color: orangered;
}
.inputText {
  border-radius: 10px;
  height: 30px;
}
#main {
  color: red;
  text-decoration: underline;
  margin-bottom: 20%;
}
#question {
  font-size: 13px;
}
#preAns {
  font-size: 10px;
  margin-bottom: 0px;
}
#downArrow {
  margin-top: 0px;
  margin-bottom: 0px;
}
#finButton {
  position: absolute;
  right: 10%;
  bottom: 5%;
}
#save {
  background-color: red;
  position: fixed;
  right: 10%;
  bottom: 10%;
}
#edit {
  background-color: red;
  position: fixed;
  right: 10%;
  bottom: 5%;
}
.btn {
  background-color: gray;
  color: white;
  margin-top: 10px;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.radio-inline__input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.radio-inline__label {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 18px;
  border-radius: 3px;
  transition: all .2s;
}
.radio-inline__input:checked + .radio-inline__label {
  background: gray;
  color: white;
  text-shadow: 0 0 1px rgba(0,0,0,.7);
}
#fin {
  position: absolute;
  right: 10%;
  bottom: 7%;
  background-color: red;
  color: white;
}
#memo {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  text-align: justify;
  margin-bottom: 100px;
}