.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cartoon {
  position: absolute;
  top: -70px;
  left: -120px;
  width: 70%;
}

.toolbar_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #E8E8E8;
  z-index: 100;
}

.toolbar {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

ons-bottom-toolbar {
  position: fixed;
}

header {
  background-color: rgba(255, 255, 255, 1.0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.menu_btn {
  width: 30px;
  height: 30px;
  padding: 4px;
}
.menu_trigger {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.menu_trigger span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  border-radius: 2px;
  transition: all 0.5s;
}
.menu_btn .menu_trigger span:nth-of-type(1) {
  top: 8px;
}
.menu_btn .menu_trigger span:nth-of-type(2) {
  top: calc(50% - 1px);
}
.menu_btn .menu_trigger span:nth-of-type(3) {
  bottom: 8px;
}
.menu_btn.open_ .menu_trigger span:nth-of-type(1) {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
.menu_btn.open_ .menu_trigger span:nth-of-type(2) {
  opacity: 0;
}
.menu_btn.open_ .menu_trigger span:nth-of-type(3) {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}
.nav {
  position: fixed;
  top: 30px;
  left: 0;
  width: 40%;
  height: 100%;
  z-index: 99;
  background-color: rgba(237,106,76,0.8);
  transition: all .5s;
}
.nav.v-enter, .nav.v-leave-to {
  opacity: 0;
}

[v-cloak] {
  display: none;
}

/* index */
#buttons_index {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo {
  margin-bottom: 10%;
  max-width: 50%;
}

#notSignIn .img-button {
  width: 75px;
  margin-top: 10px;
  margin-left: 150px;
}

#isSignIn p {
  color: #7B7B7B;
}

#logout {
  margin-right: 10%;
  font-size: 13px;
  font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
  font-stretch: condensed;
  font-weight: bold;
  text-decoration: underline;
}

#index #analyze, #showRecode {
  margin-bottom: 2%;
  margin-right: 10%;
  font-size: 14px;
  font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
  font-stretch: condensed;
  font-weight: bold;
  color: #DE4D2B;
  text-decoration: underline;
}

/* account */
#signIn {
  text-align: center;
}
#signIn p {
  width: 88px;
  height: 33px;
  color: #ED6A4C;
}
#signIn button {
  width: 143px;
  height: 37px;
  border-radius: 22px;
  background-color: #5D5D5D;
  color: white;
}
#email, #password {
  width: 279px;
  height: 43px;
  border-radius: 22px;
  border-color: #707070;
  text-indent: 25px;
}

#login_account {
  width: 72.98px;
  height: 44.9px;
  background-color: #E8610C;
  color: #FFFFFF;
  font-size: 26.27px;
  display: block;
  margin: 50.74px auto 99.71px;
}

#new_account {
  width: 117.18px;
  height: 33.89px;
  background-color: #A6A7A7;
  color: #FFFFFF;
  border-radius: 6.47px;
  font-size: 18.43px;
}

/* start */
#start #hoge, #resume #hoge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#start img, #resume img {
  width: 191px;
}
#start p, #resume p {
  font-size: 31px;
  color: #FFF;
  margin: 52px 0 0 0;
}

/* analyze */
#analyze #analyzeVue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 170px;
  height: 100vh;
}
#analyze .background {
  background-color: #E8F6FD;
  background-image: url('../images/分析_1枚目背景.png');
  background-size: cover;
}
#analyze .speech {
  position: relative;
}
#analyze .speech span {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: left;
}
#analyze .speech p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 199px;
}
#analyze .speech img {
  width: 260px;
}
#analyze select {
  width: 107px;
  height: 20px;
  border-radius: 1.45px;
  border: solid 0.23px #A6A7A7;
  color: #8E8E8F;
  font-size: 10px;
  margin-top: 32px;
}
#analyze input {
  border-bottom: 1px solid #DE4D2B;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  width: 70%;
  margin-top: 40px;
}
#analyze button {
  border-radius: 8px;
  border: none;
  height: 30px;
  background-color: #A6A7A7;
  color: #FFFFFF;
  margin-top: 25px;
}

/* question */
#questionVue .theme {
  height: 65px;
  background-color: #E0836E;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
}
#questionVue .theme p {
  font-size: 12px;
  margin-top: 38.5px;
  margin-left: 14px;
}
#questionVue .defo {
  background-color: #D5D5D5;
}
#questionVue .lightBlue {
  background-color: #88CDDF;
}
#questionVue .blue {
  background-color: #3895AD;
}
.items {
  position: relative;
  height: 75px;
  width: 100%;
  margin-top: 25px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.29);
}
.items p:nth-of-type(1) {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 35px;
  height: 75px;
  border-radius: 0 100% 100% 0/0 50% 50% 0;
  line-height: 75px;
  background-color: #D5D5D5;
  z-index: 5;
}
.items p:nth-of-type(2) {
  text-align: center;
  position: absolute;
  background-color: #EDEDED;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  border-color: #707070;
  border-width: 0.2px;
  z-index: 4;
  margin: 0;
  font-size: 10px;
}
.items p:nth-of-type(3) {
  position: absolute;
  padding-left: 15%;
  top: 25px;
  left: 0;
  width: 90%;
  height: 50px;
  z-index: 4;
  background-color: #FFF;
  margin: 0;
  font-size: 10px;
  text-align: left;
  overflow-y: scroll;
}
#questionVue .writting {
  position: relative;
  height: 75px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 200px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.29);
}
#questionVue .writting a {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 35px;
  height: 75px;
  border-radius: 0 100% 100% 0/0 50% 50% 0;
  line-height: 75px;
  z-index: 5;
}
#questionVue .writting p {
  text-align: center;
  position: absolute;
  background-color: #EDEDED;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  border-color: #707070;
  border-width: 0.2px;
  z-index: 4;
  margin: 0;
}
#questionVue .writting textarea {
  position: absolute;
  border: 0;
  padding: 0;
  padding-left: 15%;
  top: 25px;
  left: 0;
  width: 90%;
  height: 50px;
  z-index: 4;
}

#questionVue .buttons a:nth-of-type(1) {
  position: fixed;
  left: 45px;
  bottom: 50px;
  z-index: 30;
}
#questionVue .buttons a:nth-of-type(2) {
  position: fixed;
  left: 45px;
  bottom: 90px;
  z-index: 30;
}
#questionVue .buttons a:nth-of-type(3) {
  position: fixed;
  bottom: 40px;
  right: 35px;
  z-index: 30;
}
#questionVue .buttons a:nth-of-type(4) {
  position: fixed;
  bottom: 40px;
  right: 112px;
  z-index: 30;
}
#questionVue .overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(86, 119, 123, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
#questionVue .overlay p {
  z-index: 100;
  color: white;
}
#questionVue .overlay-help {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#questionVue .overlay-help iframe {
  width: 100%;
  height: 100%;
}
#questionVue .overlay-help a {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
}

/* result.html */
#resultVue {
  text-align: center;
}
#resultVue .theme {
  margin-top: 50px;
  margin-left: 28px;
  font-size: 17px;
  color: #DE4D2B;
}
#resultVue select:nth-of-type(1) {
  color: #A6A7A7;
  border-radius: 1.45px;
  border-width: 0.23px;
  width: 107px;
  margin-top: 10px;
  margin-left: 28px;
  text-align: left;
}
#resultVue select:nth-of-type(2) {
  color: #A6A7A7;
  border-radius: 2.27px;
  border-width: 0.36px;
  width: 70%;
  height: 38px;
  margin-top: 30px;
}
#resultVue textarea {
  width: 70%;
  height: 180px;
  border-left: solid 1.5px #DE4D2B;
  border-bottom: solid 1.5px #DE4D2B;
  border-top: none;
  border-right: none;
  background: none;
  margin-top: 45px;
  font-size: 11px;
}
#resultVue button:nth-of-type(1) {
  width: 94px;
  height: 22px;
  border-radius: 8px;
  background-color: #DE4D2B;
  color: #FFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.29);
  border: none;
  margin-top: 27px;
}
#resultVue button:nth-of-type(2) {
  width: 75px;
  height: 27px;
  background-color: #4190C6;
  color: #FFF;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 68px;
}

/* myRecode */
#myRecodeVue .tab {
  position: relative;
  background-color: #E0836E;
  height: 97px;
  width: 100%;
}
#myRecodeVue .tab button:nth-of-type(1) {
  position: absolute;
  left: 19px;
  top: 57px;
  height: 26px;
  border-radius: 13px;
  border: none;
  font-size: 10px;
}
#myRecodeVue .tab button:nth-of-type(2) {
  position: absolute;
  top: 57px;
  height: 26px;
  border-radius: 13px;
  border: none;
  font-size: 10px;
}
.recode {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.data {
  position: relative;
  display: block;
  width: 90%;
  margin: 12px auto 0;
}
.data span {
  position: relative;
  top: 0;
  left: 0;
  font-size: 10px;
  color: #626262;
  margin: 0;
  padding: 5px 21px;
  background-color: #E8F6FD;
  border-radius: 5px;
}
.data p {
  position: relative;
  top: -3px;
  font-size: 12px;
  margin: 0;
  padding: 12px 0 18px 21px;
  background-color: #E8F6FD;
  border-radius: 5px;

}
.data hr {
  position: relative;
  bottom: 17px;
  margin: 0 21px;
}

/* help */
.speech-box {
  position: relative;
  top: 80px;
  left: 150px;
  width: 160px;
  height: 70px;
  margin: 0;
}
.speech-box p {
  position: absolute;
  z-index: 30;
  font-size: 11px;
  margin: 21px 21px 21px 37px;
}
.speech-box img {
  position: absolute;
  width: 160px;
  z-index: 20;
}
#help .header {
  height: auto;
  background-color: #ED6A4C;
  padding-bottom: 45px;
}
#help .header .links {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 100px;
}
#help .header .links a {
  color: #000000;
  text-decoration: none;
  margin-left: 30px;
}
#help h1 {
  font-size: 20px;
  border-left: solid 1px #ED6A4C;
  border-bottom: solid 1px #ED6A4C;
  margin-top: 30px;
  padding-left: 5px;
  display: inline-block;
}
#help .help-content {
  margin: 0 30px 100px;
}
#help .help-content span {
  color: #ED6A4C;
}

/* explain */
.explain-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #B9B9B9;
  background-image: url('../images/機能紹介_サインイン_サインアップ_背景.png');
  background-size: cover;
  text-align: center;
}
.explain-page img {
  width: 35px;
}
.explain-page p {
  color: #ED6A4C;
  font-size: 20px;
}
.explain-page div {
  background-color: rgba(237, 106, 76, 0.27);
  width: 100%;
}
.explain-page div p:nth-of-type(1) {
  color: #434343;
  font-size: 14px;
}
.explain-page div p:nth-of-type(2) {
  font-size: 11px;
  color: #434343;
  line-height: 25px;
}
.explain-page span {
  font-size: 10px;
}
.explain-page hr {
  border-top: solid 2px #FFF;
  width: 80%;
}

/* register */
#register {
  background-color: #ED6A4C;
  background-image: url(../images/サインイン_背景.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#register p {
  font-size: 25px;
}
#register div {
  background-color: rgba(255, 220, 213, 0.49);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 216px;
}
#register input[type="email"] {
  width: 80%;
  height: 43px;
  border-radius: 22px;
  border: solid 1px #707070;
  padding-left: 14px;
}
#register input[type="password"] {
  width: 80%;
  height: 43px;
  border-radius: 22px;
  border: solid 1px #707070;
  margin: 18px 0 23px;
  padding-left: 14px;
}
#register input[type="button"] {
  width: 66px;
  height: 25px;
  background-color: #ED6A4C;
  color: #FFF;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}
#register button {
  background-color: #4190C6;
  color: #FFF;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  margin-top: 24px;
  width: 75%;
  height: 23px;
}

/* ready */
#readyVue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #E8F6FD;
}
#readyVue img {
  width: 170px;
  margin-bottom: 30px;
}
#readyVue p {
  width: 100%;
  background-color: #FFF;
  color: #484848;
  line-height: 24px;
  padding: 21px 0;
  margin: 0;
}
#readyVue button {
  width: 85px;
  height: 36px;
  background-color: #ED6A4C;
  border-radius: 8px;
  border: none;
  color: #FFF;
  font-size: 14px;
  margin-top: 26px;
}