.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cartoon {
  position: absolute;
  top: -15%;
  left: -30%;
  width: 70%;
}

.toolbar {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

/* index */
#buttons_index {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}

#logo_i {
  align-self: center;
  margin-bottom: 10%;
  width: 50%;
}

#logout {
  margin-right: 10%;
  font-size: 13px;
  font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
  font-stretch: condensed;
  font-weight: bold;
  text-decoration: underline;
}

#index #analyze, #showRecode {
  margin-bottom: 2%;
  margin-right: 10%;
  font-size: 14px;
  font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
  font-stretch: condensed;
  font-weight: bold;
  color: #DE4D2B;
  text-decoration: underline;
}

/* account */
#email, #password {
  margin: 0 15% 0;
  width: 70%;
  height: 10%;
  border-radius: 9.16px;
  border-color: #A6A7A7;
  border-width: 2.39px;
}

#login_account {
  width: 72.98px;
  height: 44.9px;
  background-color: #E8610C;
  color: #FFFFFF;
  font-size: 26.27px;
  display: block;
  margin: 50.74px auto 99.71px;
}

#new_account {
  width: 117.18px;
  height: 33.89px;
  background-color: #A6A7A7;
  color: #FFFFFF;
  border-radius: 6.47px;
  font-size: 18.43px;
}

/* analyze */
#analyze #analyzeVue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#analyze .background {
  background-color: #E8F6FD;
  background-image: url('../images/分析_1枚目背景.png');
}
#analyze .speech {
  position: relative;
}
#analyze span {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
#analyze .speech img {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
#analyze input {
  border-bottom: 1px solid #DE4D2B;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  width: 70%;
}
#analyze button {
  border-radius: 8px;
  width: 33%;
  height: 30px;
  background-color: #A6A7A7;
  color: #FFFFFF;
}